django
djangorestframework
djangorestframework_simplejwt
django-filter
django-cors-headers
drf_yasg

psycopg2
psycopg2-binary

python-dotenv
black

celery
django-celery-beat
redis
eventlet
requests
coverage
